<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                  <div class="card-header">{{ __('RECUPERAR CONTRASEÑA') }}</div>

                <div class="card-body">                 
<div>ACCEDA AL SIGUIENTE LINK PARA ACTUALIZAR O RECUPERAR SU CONTRASEÑA</div>
Hola {{$usuario->name}} accede a esta ruta: 
<a href="http://localhost:4200/{{$usuario->token}}">http://localhost:4200/response-password-reset/{{$usuario->token}}</a>
</div>
</div>
</div>
</div>
</div>
</div>
© Copyright Universidad Católica del Maule, Inc. All rights reserved.