<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<style>
    /* Este es para los elementos en general */
    .navbar-light .navbar-nav .nav-link {
    color: orange;
    }
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
    .navbar-light .navbar-nav .active>.nav-link  {
     color: red;
    }
    </style>
    <nav class="navbar navbar-expand-lg" style="background-color:#000a49"> 
      <a class="navbar-brand text-white" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav"> 
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tesis
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a class="dropdown-item" routerLink="/tesis_espera_directorescuela/{{identificador}}">Espera</a>
              <a class="dropdown-item" routerLink="/tesis_inscrita_directorescuela/{{identificador}}">Inscritas</a>
              <a class="dropdown-item" routerLink="/tesis_comision_directorescuela/{{identificador}}">Comision</a>
                <a class="dropdown-item" href="#">Informes</a>
                <a class="dropdown-item" href="#">Actas</a>
              </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vinculación
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown2" class="dropdown-menu">
                <a class="dropdown-item" routerLink="/comunidades">Comunidad</a>
                <a class="dropdown-item" routerLink="/fondosconcursables">Fondos Concursables</a>
                <a class="dropdown-item" routerLink="/empresas">Empresas</a>
                <a class="dropdown-item" routerLink="/proyectos">Proyectos</a>
              </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sol Notas Pendientes Profesor
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown3" class="dropdown-menu">
                <a class="dropdown-item" href="#">Pendientes</a>
                <a class="dropdown-item" href="#">Prorrogas</a>
              </div>
            </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sol Notas Director Escuela
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Pendientes</a>
                <a class="dropdown-item" href="#">Prorrogas</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Obtener
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Informes Consulta por Intervalos</a>
                <a class="dropdown-item" href="#">Lista memos</a>
            </div>
          </li>
        </ul>
      </div>
      <a class="navbar-brand text-white" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
    </nav>
    <div class="mt-4 col-8 offset-2">
      <div class="card">
        <div class="card-header">Hola Director de Escuela</div>
        <div class="card-body">
         <h2><b>Sistema de Tesis</b></h2> 
        <p>Podrás realizar las siguientes tareas:</p>
        <div> En Tesis podrá: Espera, Inscritas(será el último filtro para inscribir una tesis, despues del alumno y el profesor guía)), Comisión,Actas,Informes</div><br>
        <div>En Vinculación podrá: Realizar CRUD sobre tipos de vinculación(comunidad,empresas, fondos concursables, y proyectos).<div><br>
        <div>Solicitudes Notas Profesor:Aceptar y modificar de manera preliminar las notas pendientes y de prorroga de sus tesistas.</div><br>
        <div>Solicitudes Notas Director Escuela:Aceptar y modificar notas pendientes y de prorroga como Director de Escuela</div>
        <div>Obtener: Informes por Intervalo, Lista de Memos</div>
      </div>
      </div>
      </div>
    </div>
    </div>
