<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<style type="text/css">
  .fa:before { color:black; }
</style>
<style>
    /* Este es para los elementos en general */
    .navbar-light .navbar-nav .nav-link {
    color: orange;
    }
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
    .navbar-light .navbar-nav .active>.nav-link  {
     color: red;
    }
    </style>
    <nav class="navbar navbar-expand-lg" style="background-color:#000a49"> 
      <a class="navbar-brand text-white" routerLink="/director_escuela/{{identificador}}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav"> 
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tesis
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a class="dropdown-item" routerLink="/tesis_espera_directorescuela/{{identificador}}">Espera</a>
              <a class="dropdown-item" href="/tesis_inscrita_directorescuela/{{identificador}}">Inscritas</a>
              <a class="dropdown-item" href="/tesis_comision_profesor/{{identificador}}">Comision</a>
                <a class="dropdown-item" href="#">Informes</a>
                <a class="dropdown-item" href="#">Actas</a>
              </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vinculación
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown2" class="dropdown-menu">
                <a class="dropdown-item" routerLink="/comunidades">Comunidad</a>
                <a class="dropdown-item" routerLink="/fondosconcursables">Fondos Concursables</a>
                <a class="dropdown-item" routerLink="/empresas">Empresas</a>
                <a class="dropdown-item" routerLink="/proyectos">Proyectos</a>
              </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sol Notas Pendientes Profesor
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown3" class="dropdown-menu">
                <a class="dropdown-item" href="#">Pendientes</a>
                <a class="dropdown-item" href="#">Prorrogas</a>
              </div>
            </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sol Notas Director Escuela
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Pendientes</a>
                <a class="dropdown-item" href="#">Prorrogas</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Obtener
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Informes Consulta por Intervalos</a>
                <a class="dropdown-item" href="#">Lista memos</a>
            </div>
          </li>
        </ul>
      </div>
      <!--<a class="navbar-brand text-white" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>-->
    </nav>
 <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12"> <!--Con 12 se ocupa todo el ancho de la pantalla a lo ancho-->
      <div class="card">
        <div class="card-header">Tesis Inscritas del profesor</div>
          <div class="card-body">

    <table class="table table-bordered">
    
          <th>ID</th>
          <!--<th>Estudiante(s)</th>-->
          <th>Nombre Estudiante(s)</th>
          <th>Profesor Guia</th>
          <th>Tipo de Trabajo</th>
          <th>Fecha Peticion</th>
        <tr *ngFor="let tesis of tesistas">
        <!--<td><a *ngIf="tesis.nombre_completo==user.name || tesis.nombre_completo2==user.name"></a></td>-->
          <td>{{tesis.id_pk}}</td>
          <td>
          <a *ngIf="tesis.nombre_completo2!=null">{{tesis.nombre_completo}} y {{tesis.nombre_completo2}}</a>
          <a *ngIf="tesis.nombre_completo2==null">{{tesis.nombre_completo}}</a></td>
         <!--<td><a *ngIf="tesis.estado1>=2 || tesis.estado2==1) && (tesis.nota_tesis==null" href="/generar_formulario_inscripcion_tesis/{{tesis->id_pk)}}">Formulario Inscripción</a>
         </td>-->
         <td>{{tesis.profesor_guia}}</td>
         <td>{{tesis.tipo}}</td>
          <td>{{tesis.fecha_peticion}}</td>
          <!--<td>{{tesis.profesor_guia}}</td>-->
          
         <!--<td><a *ngIf="tesis.estado1!=4 && tesis.estado1!=5 && tesis.estado3!=2">Espera</a>
         <a *ngIf="tesis.estado1==1 && tesis.estado2==null && tesis.estado3==2">Rechazado por Profesor</a>
         <a *ngIf="tesis.estado1==4">Inscrita</a>
         <a *ngIf="tesis.estado1==5">Rechazada Por Coordinador</a></td>
         <td><a *ngIf="tesis.nota_pendiente!=null && tesis.nota_prorroga==null && tesis.estado6==1 && tesis.estado7==null and tesis.nota_tesis==null" >
            <td>{{tesis.nota_pendiente}}</td>
            <td><a href="/pedir_nota_prorroga/{{tesis.id_pk}}">Pedir nota</a></td>
             <td><a href="/vista_subir_archivo/{{$tesis.id_pk}}">Subir constancia</a><td>
         </a></td>
        <a *ngIf="tesis.nota_pendiente!=null && tesis.nota_prorroga==null and tesis.estado6!=null and tesis.estado7==null and (tesis.nota_tesis>4 || tesis.nota_tesis==null"><td>En espera</td>
            <td><a href="/vista_subir_archivo/{{tesis->id_pk}}">Subir constancia</a><td></a>-->
       <!--<a *ngIf="(tesis.nota_pendiente==null && tesis.estado1==4 && tesis.nota_prorroga==null && (tesis.nota_tesis==null))"><td>
            <a href="/pedir_nota_pendiente/$tesis.id_pk)}}">Pedir nota Pendiente</a>
          </td></a>          
          <td> </td>
          <td>
            <a href="/vista_subir_archivo{{tesis.id_pk}}">Subir constancia</a>
          </td>
          <td><a *ngIf="tesis.nota_pendiente==null && tesis.estado1!=4 && tesis.nota_prorroga==null">
          </a></td>
          <td><a *ngIf="tesis.nota_pendiente==null && tesis.estado1!=4 && tesis.nota_prorroga==null">
          </a></td>
          <td>
            <a *ngIf="tesis.nota_pendiente!=null && tesis.nota_pendiente!=null && tesis.estado6==1 && tesis.estado7!=1 && tesis.nota_tesis==null">{{tesis.nota_pendiente}}</a>
             <a >Pedir nueva nota de Prorroga</a>
             <a *ngIf="tesis.nota_pendiente!=null && tesis.nota_pendiente!=null && tesis.estado6==1 && tesis.estado7!=1 && tesis.nota_tesis==null">En Espera</a>
          <a>Subir constancia</a>
          </td>-->
         <!--<a *ngIf="(tesis.nota_prorroga!=null && tesis.nota_pendiente!=null && tesis.estado6==1 && tesis.estado7==1 && (tesis.nota_tesis==null))">
          <td>{{tesis.nota_pendiente}}</td>
          <td>{{tesis.nota_prorroga}}<a href="/pedir_nota_prorroga/{{tesis.id_pk}}">Pedir nota</a></td>
          <td><a href="/vista_subir_archivo{{tesis.id_pk}}">Subir constancia</a></td>
         </a>
         <a *ngIf="tesis.nota_prorroga!=null  && tesis.nota_pendiente!=null && tesis.estado6==1 && tesis.estado7==1 && tesis.nota_tesis!=null">
           <td>{{tesis.nota_pendiente}}</td>
           <td>{{tesis.nota_prorroga}}</td>
        </a>-->
          <!--routerLink="/tesisedit/{{tesis.id_pk}}"-->
         
          <a class="btn btn-primary btn-sm" routerLink="/tesismostrar/{{tesis.id_pk}}" ><i class="fa fa-eye" aria-hidden="true"></i></a>
          <!--<a *ngIf="tesis.estado1==4 && tesis.estado2==1" class="btn btn-primary btn-sm btn-danger" (click)="delete(tesis.id_pk)"><i class="fa fa-trash" aria-hidden="true"></i></a>
               -->
        </tr>
     </table>
     </div>
     </div>
     </div>
     
     </div>
</div>


<!--<a *ngIf="contador<4" routerLink="/crear-tesis" class="btn-btn-default">Crear Tesis</a>-->

<a routerLink="/director_escuela/{{identificador}}" class="btn btn-default">Volver Home</a>