<div class="mt-4 col-8 offset-2">
	<div class="card">
		<div class="card-header"><i aria-hidden="true"><FONT FACE="arial">Información</FONT></i>
		<div class="card-body">
<form>

<b>Nombre Usuario</b>


<p>{{user.name}}</p>
<b>Email</b>
<p>{{user.email}}</p>

<b>Tipo Usuario </b>
<p *ngIf="user.tipo_usuario == 0">Administrador</p>
<p *ngIf="user.tipo_usuario == 1">Alumno</p>
<p *ngIf="user.tipo_usuario == 2">Profesor</p>
<p *ngIf="user.tipo_usuario == 3">Director de Tesis</p>
<p *ngIf="user.tipo_usuario == 4">Secretaria</p>

<b>Sexo</b>
<p>{{user.sexo}}</p>
</form>
</div>
</div>
</div>
</div>

