<div class="mt-4 col-8 offset-2">
	<div class="card">
		<div class="card-header"><i aria-hidden="true"><FONT FACE="arial">Información</FONT></i>
		<div class="card-body">
<form>

<b>Nombre Usuario</b>


<p>{{user.name}}</p>
<b>Email</b>
<p>{{user.email}}</p>

<b>Tipo Usuario </b>
<!--<p>{{user.tipo_usuario}}</p>-->
<!--if({{user.tipo_usuario==0}}){
   <p>Administrador</p>
}else{
    if({{user.tipo_usuario==1}}){
        <p>Administrador</p>
    }else{
        if({{user.tipo_usuario==2}}){
            <p>Profesor</p>
        }else{
            if({{user.tipo_usuario==3}}){
                <p>Director de Tesis</p>
            }else{
                if({{user.tipo_usuario==4}}){
                    <p>Secretaria</p>
                }else{
                    <p>Error este usuario no tiene Rol</p>
    }
}
        }
    }
}-->
<b>Sexo</b>
<p>{{user.sexo}}</p>
</form>
</div>
</div>
</div>
</div>
