<script> function SomeDeleteRowFunction(o) { }
</script>
<style type="text/css">
  .fa:before { color:black; }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg" style="background-color:#000a49">
    <a class="navbar-brand text-white" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" RouterLink="/tesis_alumno_solicitud">Ver Tesis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" RouterLink="/crear-tesis">Crear Tesis</a>
        </li>
       </ul>
    </div>
  </nav>
  <div class="mt-4 col-8 offset-2">
	<div class="card">
		<div class="card-header"><i aria-hidden="true"><FONT FACE="arial">Información</FONT></i>
		<div class="card-body">
<form>
<!--
<b>Nombre Usuario</b>
<p>{{user.name}}</p>
<b>Email</b>
<p>{{user.email}}</p>

<b>Tipo Usuario </b>
<p *ngIf="user.tipo_usuario == '0'">Administrador</p>
<p *ngIf="user.tipo_usuario == '1'">Alumno</p>
<p *ngIf="user.tipo_usuario == '2'">Profesor</p>
<p *ngIf="user.tipo_usuario == '3'">Director de Tesis</p>
<p *ngIf="user.tipo_usuario == '4'">Secretaria</p>


<p *ngIf="user.tipo_usuario == '2'">
	<b>Grado academico</b>
	{{user.grado_academico}}</p>

<b>Sexo</b>
<p>{{user.sexo}}</p>
</form>
</div>
</div>
</div>
</div>-->
