<script> function SomeDeleteRowFunction(o) { }
</script>
<style type="text/css">
  .fa:before { color:black; }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg" style="background-color:#000a49">
    <a class="navbar-brand text-white" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" RouterLink="/tesis_alumno_solicitud">Ver Tesis</a>
        </li>
        <a *ngIf="cantidad>=0 && cantidad<3 && nota_tesis!=-1">
        <li class="nav-item">
          <a class="nav-link text-white" RouterLink="/crear-tesis">Crear Tesis</a>
        </li>
      </a>
       </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">Información Detallada de Tesis</div>
          <div class="card-body">
      <table class="table table-bordered">
<b>Nombre Alumno</b>
<p>{{tesis.nombre_completo}}</p>
<a *ngIf="tesis.nombre_completo2!=null">
<p>{{tesis.nombre_completo2}}</p>
</a>
<b>Rut</b>
<p>{{tesis.rut}}</p>
<a *ngIf="tesis.nombre_completo2!=null">
<p>{{tesis.rut2}}</p>
</a>
<b>Año de Ingreso</b>
<p>{{tesis.ano_ingreso}}</p>
<a *ngIf="tesis.nombre_completo2!=null">
<p>{{tesis.ano_ingreso2}}</p>
</a>
<b>Telefono</b>
<p>{{tesis.telefono1}}</p>
<a *ngIf="tesis.nombre_completo2!=null">
<p>{{tesis.telefono2}}</p>
</a>

<b>Carrera</b>
<p>{{tesis.carrera}}</p>

<b>Tipo Trabajo</b>
<p>{{tesis.tipo}}</p>
<b>Nombre Vinculacion</b>
<p>{{tesis.nombre_vinculacion}}</p>
<b>Tipo Vinculación</b>
<p>{{tesis.tipo_vinculacion}}</p>
<b>Nombre Tesis</b>
<p>{{tesis.nombre_tesis}}</p>
<b>Area Tesis</b>
<p>{{tesis.area_tesis}}</p>
<b>Descripción</b>
<p>{{tesis.descripcion}}</p>

<b>Objetivos</b>
<p>{{tesis.objetivos}}</p>
<b>Contribución</b>
<p>{{tesis.contribucion}}</p>
<b>Fecha Petición</b>
<p>{{tesis.fecha_peticion}}</p>
</table>
</div>
</div>
</div>
</div>
<a routerLink="/tesis_alumno_solicitud">Volver Atrás</a>
<a routerLink="/estudiante/{{identificador}}">Volver Home</a>