  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!--<style>
  /* Este es para los elementos en general */
  .navbar-light .navbar-nav .nav-link {
    color: orange;
    }
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
    .navbar-light .navbar-nav .active>.nav-link  {
     color: red;
    }
</style>

/.Navbar-->
  <a *ngIf="tipo_usuario==2 && director_escuela==0">
   <nav class="navbar navbar-expand-lg" style="background-color:#000a49"> 
    <a class="navbar-brand text-white" routerLink="/profesor/{{identificador}}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav"> 
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tesis
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a class="dropdown-item" routerLink="/tesis_espera_profesor/{{identificador}}">Espera</a>
              <a class="dropdown-item" href="/tesis_inscrita_profesor/{{identificador}}">Inscritas</a>
              <a class="dropdown-item" href="/tesis_comision_profesor/{{identificador}}">Comision</a>
              <a class="dropdown-item" href="#">Informes</a>
              <a class="dropdown-item" href="#">Actas</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Vinculación
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown2" class="dropdown-menu">
              <a class="dropdown-item" routerLink="/comunidades">Comunidad</a>
              <a class="dropdown-item" routerLink="/fondosconcursables">Fondos Concursables</a>
              <a class="dropdown-item" routerLink="/empresas">Empresas</a>
              <a class="dropdown-item" routerLink="/proyectos">Proyectos</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Solicitudes Notas Pendientes Profesor
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a class="dropdown-item" href="#">Pendientes</a>
              <a class="dropdown-item" href="#">Prorrogas</a>
            </div>
          </li>
          <!--<li ngbDropdownclass="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Vinculación
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown2" class="dropdown-menu">
              <a class="dropdown-item" href="#">Comunidades</a>
                <a class="dropdown-item" href="#">Empresas</a>
                <a class="dropdown-item" href="#">Fondos Concursables</a>
                <a class="dropdown-item" href="#">Proyectos</a>
            </div>
          </li>
          <li ngbDropdownToggle class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Solicitudes de Notas 
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a class="dropdown-item" href="#">Pendientes</a>
                <a class="dropdown-item" href="#">Prorrogas</a>
            </div>
          </li>-->
        </ul>
      </div>
      <!--<a class="navbar-brand text-white" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>-->
    </nav>
</a>

  <a *ngIf="tipo_usuario==2 && director_escuela==1">
   <nav class="navbar navbar-expand-lg" style="background-color:#000a49"> 
      <a class="navbar-brand text-white" routerLink="/profesor/{{identificador}}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav"> 
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tesis
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a class="dropdown-item" routerLink="/tesis_espera_directorescuela/{{identificador}}">Espera</a>
              <a class="dropdown-item" routerLink="/tesis_inscrita_directorescuela/{{identificador}}">Inscritas</a>
              <a class="dropdown-item" routerLink="/tesis_comision_directorescuela/{{identificador}}">Comision</a>
                <a class="dropdown-item" href="#">Informes</a>
                <a class="dropdown-item" href="#">Actas</a>
              </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vinculación
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown2" class="dropdown-menu">
                <a class="dropdown-item" routerLink="/comunidades">Comunidad</a>
                <a class="dropdown-item" routerLink="/fondosconcursables">Fondos Concursables</a>
                <a class="dropdown-item" routerLink="/empresas">Empresas</a>
                <a class="dropdown-item" routerLink="/proyectos">Proyectos</a>
              </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sol Notas Pendientes Profesor
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown3" class="dropdown-menu">
                <a class="dropdown-item" href="#">Pendientes</a>
                <a class="dropdown-item" href="#">Prorrogas</a>
              </div>
            </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sol Notas Director Escuela
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Pendientes</a>
                <a class="dropdown-item" href="#">Prorrogas</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Obtener
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Informes Consulta por Intervalos</a>
                <a class="dropdown-item" href="#">Lista memos</a>
            </div>
          </li>
        </ul>
      </div>
      <!--<a class="navbar-brand text-white" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>-->
    </nav>
</a>
<div class="mt-4 col-8 offset-2">
    <div class="card">
      <div class="card-header">Editar Proyecto</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputName3" class="col-sm-2 col-form-label">Nombre Proyecto</label>
            <div class="col-sm-10">
            <input type="text" name="proyecto" class="form-control" id="proyecto" placeholder="Nombre Proyecto" [(ngModel)]="proyecto.nombre" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 offset-2">
               <button (click)=EditProyecto() class="btn btn-primary" >Guardar</button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>
   <div class="row">
  <a *ngIf="tipo_usuario==2 && director_escuela==1" routerLink="/proyectos/">Volver atras</a>
  </div>
  <div class="row">
  <a *ngIf="tipo_usuario==2 && director_escuela==0" routerLink="/proyectos/">Volver atras</a>
  </div>  