


<nav class="navbar" style="background-color:#000a49">
  <a class="navbar-brand text-white">Home</a>
  <a class="navbar-brand text-white" routerLink="/comunidades">Comunidad</a>
  <a class="navbar-brand text-white" routerLink="/fondosconcursables">Fondos Concursables</a>
  <a class="navbar-brand text-white" routerLink="/empresas">Empresas</a>
  <a class="navbar-brand text-white" routerLink="/proyectos">Proyectos</a>
</nav>
  

<div class="card-header">Lista de Comunidades</div>
  <body class="container">
   <table class="table table-bordered">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acción</th>
      </tr>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{empresa.id}}</td>
        <td>{{empresa.nombre}}</td>
        <td>
        <a class="btn btn-primary btn-sm" routerLink="/empresa/{{empresa.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a class="btn btn-primary btn-sm btn-danger" (click)="delete(empresa.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
      </tr>
     </tbody>
  </table>
  <a class="btn btn-primary btn-sm" routerLink="/empresa_create">Crear</a>
 
  
  


