<div class="mt-4 col-8 offset-2">
	<div class="card">
		<div class="card-header"><i class="fa fa-user" aria-hidden="true"><FONT FACE="arial">Iniciar Sesión</FONT></i>
		<div class="card-body">
<form #loginForm=ngForm (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email"  [(ngModel)]="form.email">
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" [(ngModel)]="form.password">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign In</button>

      <button routerLink="signup" class="btn btn-info float-right">Sign Up</button>
  

    </div>
  </div>
</form>
</div>
</div>
</div>
</div>