<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<style>
    /* Este es para los elementos en general */
    .navbar-light .navbar-nav .nav-link {
    color: orange;
    }
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
    .navbar-light .navbar-nav .active>.nav-link  {
     color: red;
    }
    </style>
    <nav class="navbar navbar-expand-lg" style="background-color:#000a49">
      <a class="navbar-brand text-white" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/tesis_alumno_solicitud">Ver Tesis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/crear_tesis">Crear Tesis</a>
          </li>
         
        </ul>
      </div>
      <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn"></a>
    </nav>
    <div class="mt-4 col-8 offset-2">
      <div class="card">
        <div class="card-header">Bienvenido Alumno!!!!!</div>
        <div class="card-body">
         <h2><b>Sistema de Tesis</b></h2> 
        <p>Podrás realizar las siguientes tareas:</p>
        <div>-Ver Lista Tesis propias Inscritas </div><br>
        <div>-Podrá Crear Tesis<div><br>
        <div>-Descargar Word con su Formulario de Inscripción</div><br>
        <div>-Editar Formulario de Recopilación de Información, esto en caso de haber subido constancia de examen.</div>
        </div>
      </div>
      </div>
    </div>
  </div>
