<nav class="navbar navbar-expand-lg" style="background-color:#000a49">
    <a class="navbar-brand" href="/secretaria">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="lista-alumnos-tesis-secretaria">Lista alumnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Titulados</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="mt-0 col-12 offset-0">
    <div class="card">
      <div class="card-header">Lista de Alumnos con Tesis</div>
      <div class="card-body">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Integrante(s)</th>
        <th scope="col">Tesis</th>
        <th scope="col">Profesor Guia</th>
        <th scope="col">Constancia ex
        <th scope="col">Revisión</th>
        <th scope="col">Fecha ex</th>
        <th scope="col">Subir Acta</th>
        <th scope="col">Nota</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>

 
