<div class="mt-4 col-8 offset-2">
	<div class="card">
		<div class="card-header"><i aria-hidden="true"><FONT FACE="arial">Registro de Alumno</FONT></i>
		<div class="card-body">
<form>
  <div class="form-group">
    <label for="nombre_completo">Nombre Completo</label>
    <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" aria-describedby="nombre_completoHelp">
     <small id="nombre_completoHelp" class="form-text text-muted">Usted debe ingresar 2 nombres y 2 apellidos</small>
  </div>
   <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
   <div class="form-group">
    <label for="password_check">Password</label>
    <input type="password" class="form-control" id="password_check" name="password_check">
  </div>
  <div class="form-group">
  <label for="sexo">Selecciona sexo:</label>
  <select class="form-control" id="sexo">
    <option>Masculino</option>
    <option>Femenino</option>
  </select>
</div>
  <button (click)="saveAlumno()" type=submit class="btn btn-primary">Guardar</button>
</form>
</div>
</div>
</div>



