


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<style type="text/css">
  .fa:before { color:black; }
</style>

<style>
    /* Este es para los elementos en general */
    .navbar-light .navbar-nav .nav-link {
    color: orange;
    }
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
    .navbar-light .navbar-nav .active>.nav-link  {
     color: red;
    }
    </style>

<a *ngIf="tipo_usuario==3 && director_escuela==0">
   <nav class="navbar navbar-expand-lg" style="background-color:#000a49"> 
      <a class="navbar-brand text-white" routerLink="/coordinador_tesis/{{identificador}}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav"> 
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tesis
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/tesis_inscritas_view_coordinador">Inscritas</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Obtener
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Informes</a>
            </div>
          </li>
        </ul>
      </div>
      <!--<a class="navbar-brand text-white" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>-->
    </nav>
  </a>
   <a *ngIf="tipo_usuario==2 && director_escuela==0">
   <nav class="navbar navbar-expand-lg" style="background-color:#000a49"> 
    <a class="navbar-brand text-white" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav"> 
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tesis
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a class="dropdown-item" routerLink="/tesis_espera_profesor/{{identificador}}">Espera</a>
              <a class="dropdown-item" href="/tesis_inscrita_profesor/{{identificador}}">Inscritas</a>
              <a class="dropdown-item" href="/tesis_comision_profesor/{{identificador}}">Comision</a>
              <a class="dropdown-item" href="#">Informes</a>
              <a class="dropdown-item" href="#">Actas</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Vinculación
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown2" class="dropdown-menu">
              <a class="dropdown-item" routerLink="/comunidades">Comunidad</a>
              <a class="dropdown-item" routerLink="/fondosconcursables">Fondos Concursables</a>
              <a class="dropdown-item" routerLink="/empresas">Empresas</a>
              <a class="dropdown-item" routerLink="/proyectos">Proyectos</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Solicitudes Notas Pendientes Profesor
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a class="dropdown-item" href="#">Pendientes</a>
              <a class="dropdown-item" href="#">Prorrogas</a>
            </div>
          </li>
          <!--<li ngbDropdownclass="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Vinculación
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown2" class="dropdown-menu">
              <a class="dropdown-item" href="#">Comunidades</a>
                <a class="dropdown-item" href="#">Empresas</a>
                <a class="dropdown-item" href="#">Fondos Concursables</a>
                <a class="dropdown-item" href="#">Proyectos</a>
            </div>
          </li>
          <li ngbDropdownToggle class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Solicitudes de Notas 
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a class="dropdown-item" href="#">Pendientes</a>
                <a class="dropdown-item" href="#">Prorrogas</a>
            </div>
          </li>-->
        </ul>
      </div>
      <!--<a class="navbar-brand text-white" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>-->
    </nav>
</a>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12"> <!--Con 12 se ocupa todo el ancho de la pantalla-->
      <div class="card">
        <div class="card-header">Capitulos</div>
          <div class="card-body">

    <table class="table table-bordered">
    	<tr>
          <th>{{cap.cap1}}</th>
          <th>{{cap.cap2}}</th>
          <th *ngIf="cap.cap3!=null">{{cap.cap3}}</th>
          <th *ngIf="cap.cap4!=null">{{cap.cap4}}</th>
          <th *ngIf="cap.cap5!=null">{{cap.cap5}}</th>
          <th *ngIf="cap.cap6!=null">{{cap.cap6}}</th>
           <!--@if(cap.cap3!=null)
         <th>{{cap.cap3}}</th>
         @endif
          @if(cap->cap4!=null)
         <th>{{cap->cap4}}</th>
         @endif
         @if(cap->cap5!=null)
          <th>{{cap->cap5}}</th>
          @endif
          @if(cap->cap6!=null)
         <th>{{cap->cap6}}</th>
         @endif
         <th>Fecha</th>
         @if(tipo_usuario==2)-->
         <!--<th><a href="{{URL::action('Capitulos_capController@edit_nombres', $cap->id)}}" class="btn btn-primary btn-sm"><span class="far fa-edit fa-sm"></span></a></th>
         @endif-->
     </tr>
     <tr>
          <td>{{cap.avance_cap1}} %</td>
          <td>{{cap.avance_cap2}} %</td>
          <td *ngIf="cap.cap3!=null">{{cap.avance_cap3}} %</td>
          <td *ngIf="cap.cap4!=null">{{cap.avance_cap4}} %</td>
          <td *ngIf="cap.cap5!=null">{{cap.avance_cap5}} %</td>
          <td *ngIf="cap.cap6!=null">{{cap.avance_cap6}} %</td>
        
            <!-- <a *ngIf="tipo_usuario==2 && director_escuela==0">
        <td><a href="/" class="btn btn-primary btn-sm"><span class="far fa-edit fa-sm"></span></a>
         <form action="{{ route('bitacora.destroy', $cap->id)}}" method="POST">
          <button type="submit" class="btn btn-danger"><span class="fas fa-trash"></span>
          
           {{ method_field('DELETE') }}
           {{ csrf_field() }}
            </button>
           </form>
         </td>
         @endif
        </tr>
        @endforeach-->
    </tr>
      </table>
</div>
</div>
 <a *ngIf="tipo_usuario==2 && director_escuela==0">
<!--<td><a href="{{url('/capitulos_cap/create'.$id)}}" class="fas fa-plus"></a></td>-->
</a>
</div>
</div>
</div>
 <a *ngIf="tipo_usuario==2 && director_escuela==0">
<a routerLink="/profesor/{{identificador}}">Volver Home</a>
</a>
 <a *ngIf="tipo_usuario==2 && director_escuela==1">
<a routerLink="/director_escuela/{{identificador}}">Volver Home</a>
</a>
 <a *ngIf="tipo_usuario==3 && director_escuela==0">
<a routerLink="/coordinador_tesis/{{identificador}}">Volver Home</a>
</a>

