<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>

<nav class="navbar navbar-expand-lg" style="background-color:#000a49">
    <a class="navbar-brand" href="/secretaria">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="lista-alumnos-tesis-secretaria">Lista alumnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Titulados</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="mt-2 col-8 offset-2">
    <div class="card">
      <div class="card-header">Editar Fecha Presentacion</div>
      <div class="card-body">
        <form>
            <div class="form-group">
              <label for="fecha_presentacion_tesis">Fecha Presentacion</label>
              <small id="fechapresentacionHelp" class="form-text text-muted">La hora seleccionada será entre 15 y 20 hrs, de Lunes a Sábado</small>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#datetimepicker2').datetimepicker({
            locale: 'es',
            format: 'YYYY-MM-DD HH:mm',   
            enabledHours: [15, 16, 17, 18, 19, 20],
            daysOfWeekDisabled: [0],
            stepping:60
        });
    });
</script>