<script> function SomeDeleteRowFunction(o) { }
</script>
<style type="text/css">
  .fa:before { color:black; }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg" style="background-color:#000a49">
    <a class="navbar-brand text-white" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" RouterLink="/tesis_alumno_solicitud">Ver Tesis</a>
        </li>
        <a *ngIf="cantidad>=0 && cantidad<3 && nota_tesis!=-1">
        <li class="nav-item">
          <a class="nav-link text-white" RouterLink="/crear-tesis">Crear Tesis</a>
        </li>
      </a>
       </ul>
    </div>
  </nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12"> <!--Con 12 se ocupa todo el ancho de la pantalla a lo ancho-->
      <div class="card">
        <div class="card-header">Tesis del alumno</div>
          <div class="card-body">

    <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <!--<th>Estudiante(s)</th>-->
          <th>Profesor Guia</th>
          <th>Tipo</th>
          <!--<th>Fecha Peticion</th>-->
          <th>Estado</th>
          <th>Nota Pendiente</th>
          <th>Nota Prorroga</th>
        <tr *ngFor="let tesis of tesistas">
        <!--<td><a *ngIf="tesis.nombre_completo==user.name || tesis.nombre_completo2==user.name"></a></td>-->
          <td>{{tesis.id_pk}}</td>
          <td>{{tesis.profesor_guia}}</td>
         <!--<td><a *ngIf="tesis.estado1>=2 || tesis.estado2==1) && (tesis.nota_tesis==null" href="/generar_formulario_inscripcion_tesis/{{tesis->id_pk)}}">Formulario Inscripción</a>
         </td>-->
          <td>{{tesis.tipo}}</td>
          <td><a *ngIf="tesis.estado1!=4 && tesis.estado1!=5 && tesis.estado3!=2">Espera</a>
            <a *ngIf="tesis.estado1==1 && tesis.estado2==null && tesis.estado3==2">Rechazado por Profesor</a>
            <a *ngIf="tesis.estado1==4">Inscrita</a>
            <a *ngIf="tesis.estado1==5">Rechazada Por Coordinador</a></td>
          <td>{{tesis.nota_pendiente}}</td>
          <td>{{tesis.nota_prorroga}}</td>
         <!--<td><a *ngIf="tesis.estado1!=4 && tesis.estado1!=5 && tesis.estado3!=2">Espera</a>
         <a *ngIf="tesis.estado1==1 && tesis.estado2==null && tesis.estado3==2">Rechazado por Profesor</a>
         <a *ngIf="tesis.estado1==4">Inscrita</a>
         <a *ngIf="tesis.estado1==5">Rechazada Por Coordinador</a></td>
         <td><a *ngIf="tesis.nota_pendiente!=null && tesis.nota_prorroga==null && tesis.estado6==1 && tesis.estado7==null and tesis.nota_tesis==null" >
            <td>{{tesis.nota_pendiente}}</td>
            <td><a href="/pedir_nota_prorroga/{{tesis.id_pk}}">Pedir nota</a></td>
             <td><a href="/vista_subir_archivo/{{$tesis.id_pk}}">Subir constancia</a><td>
         </a></td>
        <a *ngIf="tesis.nota_pendiente!=null && tesis.nota_prorroga==null and tesis.estado6!=null and tesis.estado7==null and (tesis.nota_tesis>4 || tesis.nota_tesis==null"><td>En espera</td>
            <td><a href="/vista_subir_archivo/{{tesis->id_pk}}">Subir constancia</a><td></a>-->
       <!--<a *ngIf="(tesis.nota_pendiente==null && tesis.estado1==4 && tesis.nota_prorroga==null && (tesis.nota_tesis==null))"><td>
            <a href="/pedir_nota_pendiente/$tesis.id_pk)}}">Pedir nota Pendiente</a>
          </td></a>          
          <td> </td>
          <td>
            <a href="/vista_subir_archivo{{tesis.id_pk}}">Subir constancia</a>
          </td>
          <td><a *ngIf="tesis.nota_pendiente==null && tesis.estado1!=4 && tesis.nota_prorroga==null">
          </a></td>
          <td><a *ngIf="tesis.nota_pendiente==null && tesis.estado1!=4 && tesis.nota_prorroga==null">
          </a></td>
          <td>
            <a *ngIf="tesis.nota_pendiente!=null && tesis.nota_pendiente!=null && tesis.estado6==1 && tesis.estado7!=1 && tesis.nota_tesis==null">{{tesis.nota_pendiente}}</a>
             <a >Pedir nueva nota de Prorroga</a>
             <a *ngIf="tesis.nota_pendiente!=null && tesis.nota_pendiente!=null && tesis.estado6==1 && tesis.estado7!=1 && tesis.nota_tesis==null">En Espera</a>
          <a>Subir constancia</a>
          </td>-->
         <!--<a *ngIf="(tesis.nota_prorroga!=null && tesis.nota_pendiente!=null && tesis.estado6==1 && tesis.estado7==1 && (tesis.nota_tesis==null))">
          <td>{{tesis.nota_pendiente}}</td>
          <td>{{tesis.nota_prorroga}}<a href="/pedir_nota_prorroga/{{tesis.id_pk}}">Pedir nota</a></td>
          <td><a href="/vista_subir_archivo{{tesis.id_pk}}">Subir constancia</a></td>
         </a>
         <a *ngIf="tesis.nota_prorroga!=null  && tesis.nota_pendiente!=null && tesis.estado6==1 && tesis.estado7==1 && tesis.nota_tesis!=null">
           <td>{{tesis.nota_pendiente}}</td>
           <td>{{tesis.nota_prorroga}}</td>
        </a>-->

          <a class="btn btn-primary btn-sm" routerLink="/tesismostrar/{{tesis.id_pk}}" ><i class="fa fa-eye" aria-hidden="true"></i></a>
          <a *ngIf="tesis.estado1==1 && tesis.estado2==0" class="btn btn-primary btn-sm" routerLink="/tesisedit/{{tesis.id_pk}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a *ngIf="tesis.estado1==1 && tesis.estado2==0" class="btn btn-primary btn-sm btn-danger" (click)="delete(tesis.id_pk)"><i class="fa fa-trash" aria-hidden="true"></i></a>
               
        </tr>
     </table>
     </div>
     </div>
     </div>
     
     </div>
</div>


<!--<a *ngIf="contador<4" routerLink="/crear-tesis" class="btn-btn-default">Crear Tesis</a>-->


<a routerLink="/estudiante/{{id}}" class="btn btn-default">Volver a home</a>
   


